<div class="banner">
  <div class="banner-container">
    <div class="title"> <h2> <%= config.title %> </h2> </div>
    <canvas class="banner-canvas" width="800" height="100"></canvas>
  </div>
</div>