<div class="local-osc-connection <%= direction %>">

  <% switch (direction) {
    case 'left': %>

    <div class="local-osc-flow-representations-container-pre">
      <div class="osc-to-app-horizontal osc-arrow"></div>
    </div>

    <div class="local-osc-flow-representations-container">
      <div class="local-osc-flow-representations-contents">
        <div id="<%= id %>" class="local-osc-flow-input-messages" class="osc-messages">
          <!-- set innerHTML from JS -->
        </div>
      </div>
    </div>

  <% break;
    case 'right': %>

    <div class="local-osc-flow-representations-container-pre">
      <div class="osc-from-app-horizontal osc-arrow"></div>
    </div>

    <div class="local-osc-flow-representations-container">
      <div class="local-osc-flow-representations-contents">
        <div id="<%= id %>" class="local-osc-flow-output-messages" class="osc-messages">
          <!-- set innerHTML from JS -->
        </div>
      </div>
    </div>

  <% break;
    } %>

</div> <!-- local-osc-connection -->
