<div id="movuino">

  <div id="logo-container" class="section-container">
    <div> <img class="movuino-logo"> </div>
  </div>

  <div id="serialports-container" class="section-container">
    <div> <img class="usb-logo"> </div>

    <div> <h2> Serial connection (USB) </h2> </div>

    <div id="serialports-menu-container">
      <div> <span>
        <div class="inline reset">
          <button id="refresh-serialports-menu"></button>
        </div>

        <div class="menu-wrapper dark-blue inline reset">
          <select id="serialports-menu">
            <option>Available ports</option>
          </select>
        </div>

        <label id="movuino-found-label" class="bad">
          Movuino not found
        </label>
      </span> </div>
    </div>
  </div>

  <div id="wifi-configuration-container" class="section-container">
    <div>
      <h1> Wifi configuration </h1>
    </div>

    <div id="wifi-configuration-network" class="section-subcontainer">
      <!-- <div id="wifi-configuration-network-info"> -->
      <div>
        <div class="inline">
          <div> Wifi name (SSID) </div>
          <input type="text" id="network-ssid">
        </div>
        <div class="inline">
          <div> Wifi password </div>
          <input type="password" id="network-password">
        </div>
        <!-- <div class="inline third"> -->
        <div>
          <div> IP address of your computer </div>
          <div class="inline reset">
            <input type="number" class="small-number" id="host-ip-1">
            .
            <input type="number" class="small-number" id="host-ip-2">
            .
            <input type="number" class="small-number" id="host-ip-3">
            .
            <input type="number" class="small-number" id="host-ip-4">
          </div>
          <div class="inline reset">
            <button id="get-my-ip-btn" class="get-my-ip"> Get my IP </button>
          </div>
        </div>

        <div class="inline">
          <div> Input port </div>
          <input type="number" class="small-number" id="movuino-input-port">
        </div>

        <div class="inline">
          <div> Output port </div>
          <input type="number" class="small-number" id="movuino-output-port">
        </div>

        <div class="inline">
          <div> Movuino OSC identifier </div>
          <input type="text" id="movuino-osc-identifier">
        </div>
      </div>

      <div>
        <div class="inline reset">
          <div> Send OSC sensors </div>
          <input id="send-osc-sensors" type="checkbox">
        </div>

        <div class="inline reset">
          <div> Send serial sensors </div>
          <input id="send-serial-sensors" type="checkbox">
        </div>
      </div>

      <div id="update-movuino-settings">
        <button id="update-movuino-settings-btn" class="blue-rounded">
          Update settings
        </button>
      </div>

      <div id="movuino-wifi-on-off">
        <div class="reset"> WiFi </div>
        <div>
          <label class="switch">
            <input type="checkbox" id="movuino-wifi-on-off-btn">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>

    <div id="wifi-configuration-movuino" class="section-subcontainer">
      <div id="wifi-configuration-movuino-sensors">
        <div class="inline third">
          <!-- <canvas id="movuino-accelerometers" width="100" height="100"></canvas> -->
          <div class="thin">
            <canvas id="movuino-accelerometers"></canvas>
          </div>
          <div class="subtle">Accelerometer</div>
        </div>
        <div class="inline third">
          <!-- <canvas id="movuino-gyroscopes" width="100" height="100"></canvas> -->
          <div class="thin">
            <canvas id="movuino-gyroscopes"></canvas>
          </div>
          <div class="subtle">Gyroscope</div>
        </div>
        <div class="inline third">
          <!-- <canvas id="movuino-magnetometers" width="100" height="100"></canvas> -->
          <div class="thin">
            <canvas id="movuino-magnetometers"></canvas>
          </div>
          <div class="subtle">Magnetometer</div>
        </div>
      </div>

      <div id="wifi-configuration-movuino-get-ip">
        <button id="get-movuino-ip" class="blue-rounded">
          Get Movuino IP address
        </button>
      </div>

      <div id="wifi-configuration-movuino-ip">
        <input type="number" class="small-number" id="movuino-ip-1" disabled>
        .
        <input type="number" class="small-number" id="movuino-ip-2" disabled>
        .
        <input type="number" class="small-number" id="movuino-ip-3" disabled>
        .
        <input type="number" class="small-number" id="movuino-ip-4" disabled>
      </div>
    </div>

  </div>

</div> <!-- movuino -->
