$localConnectionsMargin: 235px;

$lightYellow: #fff17a;
$lightBlue: #7cdde2;
$lightRed: #f45a54;

$darkBlue: #4951D0;
$darkBlueShadow: #2f36a7;

$lightGrey: #eee;
$darkGrey: #aaa;
$darkerGrey: #555;

$blueRoundedButtonFontSize: 14px;

$mediaPath: '../media/';

$movuinoLogoWidth: 160px;
$movuinoLogoHeight: 160px;
// $movuinoLogoPath: $mediaPath + 'Logo_Movuino_02-01.png';
$movuinoLogoPath: $mediaPath + 'Logo_Movuino_Solo.png';

$usbIconPath: $mediaPath + 'Icon_USB.png';
$menuArrowPath: $mediaPath + 'Menu_Arrow_Square.png';
$refreshIconPath: $mediaPath + 'Icon_Refresh_cropped.png';
$blueDownArrowPath: $mediaPath + 'Icon_Arrow1-01.png';
$whiteUpArrowPath: $mediaPath + 'Icon_Arrow2-01.png';
$whiteDownArrowPath: $mediaPath + 'Icon_Arrow2-02.png';
$blueUpArrowPath: $mediaPath + 'Icon_Arrow1-02.png';
$blueRightArrowPath: $mediaPath + 'Icon_Arrow1-03.png';
$whiteLeftArrowPath: $mediaPath + 'Icon_Arrow2-03.png';

$fontFamily: LatoLatinoWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;

$transDuration: 500ms;
