<div id="connection">

  <div id="osc-flow-representations-container-pre">
    <div id="osc-from-movuino" class="osc-arrow"></div>
    <div id="osc-to-movuino" class="osc-arrow"></div>
  </div>

  <div id="osc-flow-representations-container" class="section-container">
    <div id="osc-flow-representations-contents">
      <div id="osc-flow-input-messages" class="osc-messages">
        Port 7400
      </div>
      <div id="osc-flow-output-messages" class="osc-messages">
        Port 8000
      </div>
    </div>
  </div>

  <div id="osc-flow-representations-container-post">
    <div id="osc-to-computer" class="osc-arrow"></div>
    <div id="osc-from-computer" class="osc-arrow"></div>
  </div>

</div> <!-- connection -->
